@import "../../shared/shared.scss";

.input-container {
  display: flex;
  z-index: 30;
}

.input-number {
  font-size: calc($normal-font-size / 2);
  font-weight: 600;
  color: $primary-color;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: $box-shadow-white;
  border: 2px $secondary-color solid;
  padding: 0px;
  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
  }
  @media screen and (max-width: 520px) {
    font-size: calc($normal-font-size * 0.4);
  }
}
