@import "../../shared/shared.scss";

.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  color: $secondary-color;
}

.temp-container-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 30;
  margin: $margin;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  @media screen and (max-width: 520px) {
    margin: 0px;
  }
}

.select-temps-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 30;
  @media screen and (max-width: 690px) {
    flex-direction: column;
  }
}

.temp-title {
  font-size: $normal-font-size;
  @media screen and (max-width: 720px) {
    font-size: calc($normal-font-size * 0.7);
  }
  @media screen and (max-width: 520px) {
    font-size: calc($normal-font-size * 0.4);
  }
}

.temp-text {
  margin: $margin;
  @media screen and (max-width: 520px) {
    font-size: calc($normal-font-size * 0.4);
    margin: 0px;
  }
}

.temp-radio-container {
  margin: $margin;
  padding: $margin;
  background-color: $background-box-color;
}

.temp-inputs-cont {
  display: flex;
  flex-direction: column;
}

.temp-input-cont {
  margin: $margin;
}

.temp-input {
  font-size: calc($normal-font-size / 2);
  font-weight: 600;
  color: $primary-color;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: $box-shadow-white;
  border: 2px $secondary-color solid;
  padding: 0px;
  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
  }
  @media screen and (max-width: 520px) {
    font-size: calc($normal-font-size * 0.4);
  }
}

.temp-unit-text {
  font-size: calc($normal-font-size / 2);
  font-weight: 600;
  margin-left: 5px;
  @media screen and (max-width: 520px) {
    font-size: calc($normal-font-size * 0.4);
  }
}

.radio-label {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  & ~ .radio-label {
    margin-top: 1em;
  }
}

.radio-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: $transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $secondary-color;
    background-color: CanvasText;
  }
  &:checked::before {
    transform: scale(1);
  }
}
