$primary-color: #232741;
$secondary-color: #ced2db;
$margin: 20px;
$normal-font-size: 50px;
$transparent: rgba(0, 0, 0, 0);
$background-box-color: rgba(25, 37, 77, 0.4);
$box-shadow-white: 2px 4px 4px rgba(159, 159, 161, 0.8);
